@use "@angular/material" as mat;

mat-toolbar {
  display: flex;
  align-items: center;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
    )
  );
}

.selected-theme {
  @include mat.menu-overrides(
    (
      item-icon-color: var(--mat-sys-primary),
      item-label-text-color: var(--mat-sys-primary),
    )
  );
}

.flex-stretch {
  flex: 1 0 auto;
}

.content {
  padding: 32px;
  min-height: 100vh;

  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

mat-card {
  max-width: 400px;
}

h3 {
  font-weight: 400;
}
