<mat-toolbar color="primary">
  Angular Dark Mode
  <div class="flex-stretch"></div>
  <mat-icon class="mr-8">brightness_5</mat-icon>
  <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
  </mat-slide-toggle>
  <mat-icon>bedtime</mat-icon>
</mat-toolbar>

<div class="content mat-app-background" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">

  <div fxFlex="50">
    <h1>Buttons</h1>

    <div fxLayout="row" fxLayoutGap="16px">
      <button mat-raised-button color="primary" (click)="showDialog()">
        Open Dialog
      </button>

      <button mat-raised-button color="accent">
        Accent button
      </button>

      <button mat-raised-button color="warn">
        Warn button
      </button>
    </div>

    <br><br>

    <h1>Input</h1>

    <mat-form-field>
      <input matInput placeholder="Enter some information">
    </mat-form-field>

    <br><br>

    <h1>Checkbox</h1>

    <mat-checkbox>Check this box!</mat-checkbox>

    <br><br>

    <h1>Expansion panel</h1>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          This is the expansion title
        </mat-panel-title>
        <mat-panel-description>
          This is a summary of the content
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>


    <br><br>



  </div>
  <div fxFlex="50">
    <h1>A card</h1>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>