@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
    )
  );
}

.accent {
  @include mat.theme(
    (
      color: mat.$magenta-palette,
    )
  );
}

.warn {
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}
